body {}

nav {
    z-index: 999;
}

.nav-link {
    color: #3498DB;
}

.navbar-nav .nav-item {
    color: #3498DB;
}

.background-image {
    background: url("svgs/background01.svg")
}

.background-image2 {
    display: none;
}

.nav-link:hover {
    border-radius: 3px;
    background: rgb(78, 78, 78);
    color: #3498DB;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5 ms;
}

/* 
.top-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    z-index: -10;
    height: 500px;
    object-position: 50% 64%;
    transition-property: background;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5 ms;
} */

.bg-custom-li {
    background: rgba(216, 216, 216, 0.877);
}
.top-name {
    /* font-family: 'Encode Sans', sans-serif; */
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #3498DB;
    top: 17%;
    font-weight: bold;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    z-index: 100;
    position: absolute;
}

.btn-container {
    position: absolute;
    left: 50%;
    top: 35%;
}

.contact-btn-position {
    position: relative;
    left: -50%;
    margin: 2px;

}

.top-name p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}




.portfolio-section {
    background: gainsboro;
}

@media only screen and (max-width: 1000px) {

    .bg-custom-tollger{
        background: #3498DB;
    }
  
}



@media only screen and (max-width: 800px) {

    .background-image {
        display: none;
    }

    .background-image2 {
        display: block;
        height: 70%;
    }
    
    .top-name {
        top: 5%;
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .background-image {
        display: none;
    }

    .background-image2 {
        display: block;
    }

    .btn-container {
        position: absolute;
        top: 25%;
        width: 25%;

    }

    .contact-btn-position {
        font-size: 1rem;
    }
}
